.header {
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid #ddd;
    background: #fff;
}

.header .inner {
    display: flex;
    align-items: center;
    height: 100px;

}

.header .inner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.header .inner h1 img {
    height: 60px;
}

.header .gnb {
    margin: 0 auto 0 0;
}

.header .gnb>ul {
    display: flex;
    gap: 40px;
}

.header .gnb>ul>li a {

    font-size: 16px;
    font-weight: 500;
    display: block;
    line-height: 100px;
}

.header .gnb>ul>li a:hover {
    color: rgba(0, 0, 0, 0.5);
}


.header .utill {
    position: relative;
    margin: 0 0 0 auto;
    font-size: 16px;
    font-weight: 500;
}

.header .utill>ul {
    display: flex;
    gap: 40px;
}

.header .utill>ul>li a:hover {
    color: rgba(0, 0, 0, 0.5);
}

.header .utill .login::after {
    content: "/";
    position: absolute;
    top: 0;
    left: 60%;
    transform: translate(-50%, 0);
}




.header .utill i {
    font-size: 20px;
    vertical-align: middle;
}



/* //헤더 끝// */


.main_visual {}

.main_visual_slide {}

.main_visual_slide .itm {
    position: relative;
    height: 800px;
}

.main_visual_slide .itm01 {
    background: url(../imges/main_visual_slide01.jpg) center top/cover;
}

.main_visual_slide .itm02 {
    background: url(../imges/main_visual_slide02.jpg) center top/cover;
}

.main_visual_slide .itm03 {
    background: url(../imges/main_visual_slide03.jpg) center top/cover;
}

.main_visual_slide .itm04 {
    background: url(../imges/main_visual_slide04.jpg) center top/cover;
}


.main_visual_slide .slick-dots {

    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
}

.main_visual_slide .slick-dots li {
    margin: 0 8px;
    display: inline-block;

}

.main_visual_slide .slick-dots li button {
    border: 1px solid #ffffff;
    background: rgba(255, 255, 255, 0.5);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-indent: -9999px;
}

.main_visual_slide .slick-dots li.slick-active button {

    background: #fff;

}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition-delay: 10ms;
}

.main_visual .scroll-downs .arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0) rotate(315deg);
    width: 24px;
    height: 24px;
    border-left: 2px solid #686868;
    border-bottom: 2px solid #686868;
    animation: scrollDown 1s ease-in-out infinite alternate;
    cursor: pointer;
}

@keyframes scrollDown {

    0% {
        opacity: 0;
    }

    10% {

        transform: translate(-50%, 0) rotate(315deg);
        opacity: 1;

    }

    100% {
        transform: translate(-50%, 15px) rotate(315deg);
        opacity: 0;
    }

}

.main_visual .scroll-downs .arrow::before {}



/* //메인비쥬얼끝// */

.main_content {

    padding: 80px 0;

}

.main_content .tit {

    text-align: center;
    max-width: 1410px;
    margin: 0 auto 40px auto;
}

.main_content .tit h2 {

    font-size: 32px;
    font-weight: 800;
    margin: 0 0 16px 0;

}

.main_content .tit p {

    font-size: 16px;
    font-weight: 400;
}

.main_content .inner {
    max-width: 1410px;
    width: 100%;
}

.main_content .inner>* {
    flex: 1;
}

.main_content .inner .itm {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
}

.main_content .inner .itm .desc {

    margin: 150px 0;
}

.main_content .inner .itm .desc strong {
    display: block;
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    margin: 0 0 16px 0;
}

.main_content .inner .itm .desc p {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;

}

.footer {
    padding: 40px 0;
    background: #686868;

}

.footer .inner {
    display: flex;
    position: relative;
}

.footer .inner>* {
    flex: 1;
}

.footer .inner .logo {

    line-height: 32px;
    /* border: 1px solid salmon; */
}



.footer .inner .logo img {
    width: 150px;
    height: 40px;

}

.footer .inner .logo address {
    font-style: normal;
    color: #333;
}


.footer .inner .sns_link {
    position: absolute;
    top: 8px;
    left: 180px;

    display: flex;
    gap: 16px;
    height: 16px;
}



.footer .inner .sns_link img {

    width: auto;
    height: 100%;
}

/* //푸터 끝// */

.to_top {

    position: fixed;
    bottom: 120px;
    right: 0;
    z-index: 999;

    opacity: 0;
    visibility: hidden;

    transition: 0.5s;

}

.to_top.on {
    right: 40px;
    opacity: 1;
    visibility: visible;
}



.to_top button {
    background: transparent;
    border: none;
}

.to_top i {
    padding: 16px;
    background: rgba(153, 153, 153, 0.3);
    border-radius: 50%;
    color: #fff;

    transform: rotate(90deg);
}